.inlineToolbar {
  position: fixed;
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 50rem;
  padding: 0.125rem 0.5rem;
  z-index: 2;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.inlineToolbarButton button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #686b6e;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 4px;
  border-radius: 50%;
}

.inlineToolbarButtonActive {
  color: #212529 !important;
}
